.app-header {
    border-bottom: 2px solid black;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-color { 
    background-color: thistle; 
}

.number { 
    background-color: darkkhaki; 
}

.number1 { 
    background-color: darkgrey; 
}

.number2 { 
    background-color: bisque; 
}

.number3 { 
    background-color: pink; 
}

.center { 
    text-align: center; 
    justify-content: center; 
}

.bordered { 
    border: 1px solid #000; 
    padding: 1rem; 
}

.custom-input { 
    width: 200px; 
    padding: 5px; 
    border-radius: 10px; 
    border: 1px solid burlywood; 
    font-size: 0.875rem; 
}